.movie-tile {
  .fa-spinner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }

  .movie-rating,
  .movie-release {
    position: absolute;
    z-index: 5;
  }

  .movie-rating {
    right: 0;
  }

  .movie-release {
    top: 0;
  }
}
