.search-bar-status-line {
  margin-left: 0 !important;
  margin-right: 0 !important;

  &__sort-by {
    .columns {
      justify-content: flex-end;
    }
  }

  &__sort-by-title {
    text-align: right;
  }
}
